<% provide(:title, 'お問い合わせ') %>
<h1><a href="https://twitter.com/intent/tweet?screen_name=pep65274869&ref_src=twsrc%5Etfw" class="twitter-mention-button" data-show-count="false">Tweet to @pep65274869</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></h1>
<h1><a href="https://github.com/Daichi-Kudo/daichi"></a></h1>
<img src="/assets/Github_Logo.png" alt="github">