<% provide(:title, 'お問い合わせ') %>
<h1><%= link_to image_tag("twilogo.png", alt: "twitter logo", id: "twitterlogo", class: "logos" ), "https://twitter.com/pep65274869"%>
<%= link_to image_tag("github.png", alt: "Git logo", id: "gitlogo", class: "logos"), "https://github.com/Daichi-Kudo/daichi"%></h1>