<% provide(:title, 'Home') %>
<div class="fadein">
<div class="center jumbotron">
  <h1>This is Dai's portfolio</h1>
  <h2>Thank you for stepping by.</h2>
</div>
</div>
<%= render 'layouts/profile' %>
<br><br><br>
<%= render 'layouts/works' %>
<br><br><br>
<%= render 'layouts/contact' %>

<%=image_tag("mirai_off.jpg", alt: "My dog", class:"mirai")%>