<% provide(:title, 'プロフィール') %>
<h1>Profile</h1>
<ul class="slider">
    <li><a href="/"><img src="mirai.jpg" alt="mydog"></a></li>
    <li><a href="https://en-jp.wantedly.com/users/51291784"><img src="assets/iam.jpg" alt="iam"></a></li>
    <li><a href="/works"><img src="clone1.jpg" alt="cloneApp"></a></li>
</ul>
<ul>
<h2>自己紹介</h2>
    <div class="indent">
    <h4>名前：工藤 大地 Kudo daichi</h4>
    <h4>所在地：東京</h4>
    <h4>お問い合わせ：a_drowning_apple@yahoo.co.jp</h4>
    <h4>経歴：</h4>
    <h5>現在～2019/04 &emsp;&thinsp;&thinsp;&thinsp;&thinsp;株式会社マクロミル リサーチ営業本部 (新規開拓・インバウンド営業)</h5>
    <h5>2019/03～2015/04&thinsp; 明治大学</h5>
    <h5>2019/02～2017/01&thinsp; 株式会社コネット東京 NHKの英日翻訳業務(アルバイト)</h5>
</div>
<br><br>
<h2>作ったもの</h2>
    <h4>ポートフォリオ:</h4>
    <div class="indent">
        <h5>言語：HTML5/SCSS/JavaScript/Ruby</h>
        <h5>バージョン管理：bitbucket</h5>
        <h5>ライブラリ：jQuery</h5>
        <h5>フレームワーク：RubyonRails5/bootstrap</h5>
        <h5>IDE：AWS Cloud9</h5>
        <h5>ホスティング：Heroku<h5>
    </div>
    <h4>クローンアプリ:&thinsp;</h4>
    <div class="indent">
        <h5>言語：HTML5/SCSS/JavaScript/Ruby</h5>
        <h5>バージョン管理：bitbucket</h5>
        <h5>ライブラリ：CarrierWave/Gravatar</h5>
        <h5>フレームワーク：RubyonRails5/bootstrap</h5>
        <h5>IDE：AWS Cloud9</h5>
        <h5>ホスティング：Heroku<h5>
    </div>
    <h4>ブログ&emsp;&thinsp;&thinsp;</h4>
    <div class="indent">
        <h5>言語：HTML5/SCSS</h5>
        <h5>CMS：WordPress</h5>
        <h5>サーバー：レンタルサーバー</h5>
    </div>
</ul>