<% provide(:title, 'Works') %>
<h1>Works（まだWorkですが。。）</h1>
<h2><%=link_to("クローンサイト","https://nameless-bastion-05855.herokuapp.com/")%></h2>
<%= link_to image_tag("clone.png", alt: "クローンアプリ"), "https://nameless-bastion-05855.herokuapp.com/"%>
