<footer class="navbar navbar-fixed-bottom" style="background-color:#99ff66;">
  <nav>
    <ul>
      <li class="string"><%= link_to "Contact", contact_path %></li>
      <li class="string"><a href="https://en-jp.wantedly.com/users/51291784">Wantedly</a></li>
      <li class="string"><a href="https://nk-blog.net">Blog</a></li>
      <li class="string"><button id="top">Top↑</button></li>
    </ul>
  </nav>
</footer>
