<header>
<nav class="navbar navbar-fixed-top navbar-inverse" style="background-color:#99e699;">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#gnavi">
      <div class="sr-only">メニュー</div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
      <div class="icon-bar"></div>
    </button>
       <a href="/" class="navbar-brand" id="logo">Dai's Portfolio</a>
  </div>
  <div id="gnavi" class="collapse navbar-collapse">
    <ul class="raw nav navbar-nav">
      <li><a href="/">Home</a></li>
      <li><a style="background-color:white;" href="/profile">Profile</a></li>
      <li><a  href="/works">Works</a></li>
      <li><a style="background-color:white;" href="/contacts">Contact</a></li>
    </ul>
  </div>
</nav>
</header>